.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
hoyo-resource-timer-firebase-adminsdk-6wrlx-9f0cd01ed0.json
hoyo-resource-timer-firebase-adminsdk-6wrlx-a5513d1377.json
/src/lib/server/scraped-files